{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "Syslog Policy" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Alias" %}</th><td>{{ object.name_alias|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Fabric" %}</th>
          <td><a href="{{ object.aci_fabric.get_absolute_url }}">{{ object.aci_fabric }}</a></td></tr>
        <tr><th scope="row">{% trans "Tenant" %}</th>
          <td>{% if object.aci_tenant %}<a href="{{ object.aci_tenant.get_absolute_url }}">{{ object.aci_tenant }}</a>{% else %}<span class="text-muted">{% trans "fabric-wide" %}</span>{% endif %}</td></tr>
        <tr><th scope="row">{% trans "Admin state" %}</th><td>{{ object.get_admin_state_display }}</td></tr>
        <tr><th scope="row">{% trans "Console severity" %}</th><td>{{ object.get_console_severity_display }}</td></tr>
        <tr><th scope="row">{% trans "Local severity" %}</th><td>{{ object.get_local_severity_display }}</td></tr>
        <tr><th scope="row">{% trans "Include msec" %}</th><td>{{ object.include_msec|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Include TZ" %}</th><td>{{ object.include_tz|yesno }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">
        {% trans "Remote destinations" %}
        <div class="card-actions">
          <a href="{% url 'plugins:netbox_cisco_aci:acisyslogremotedest_add' %}?syslog_policy={{ object.pk }}" class="btn btn-ghost-primary btn-sm">
            <i class="mdi mdi-plus-thick"></i> {% trans "Add destination" %}
          </a>
        </div>
      </h2>
      <table class="table table-hover">
        <thead><tr><th>{% trans "Host" %}</th><th>{% trans "Port" %}</th><th>{% trans "Severity" %}</th><th>{% trans "Facility" %}</th></tr></thead>
        <tbody>
          {% for d in object.remote_destinations.all %}
          <tr>
            <td><a href="{{ d.get_absolute_url }}">{{ d.host }}</a></td>
            <td>{{ d.port }}</td>
            <td>{{ d.get_severity_display }}</td>
            <td>{{ d.get_forwarding_facility_display }}</td>
          </tr>
          {% empty %}
          <tr><td colspan="4" class="text-muted">{% trans "No destinations configured." %}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
