{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">{% trans "SNMP Trap Destination" %}</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Host" %}</th><td>{{ object.host }}</td></tr>
        <tr><th scope="row">{% trans "Port" %}</th><td>{{ object.port }}</td></tr>
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Trap Policy" %}</th>
          <td><a href="{{ object.trap_policy.get_absolute_url }}">{{ object.trap_policy }}</a></td></tr>
        <tr><th scope="row">{% trans "Version" %}</th><td>{{ object.get_version_display }}</td></tr>
        <tr><th scope="row">{% trans "Community / User" %}</th><td>{{ object.community_or_user|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "v3 security level" %}</th><td>{{ object.get_v3_security_level_display|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Management EPG" %}</th><td>{{ object.mgmt_epg|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">{% include 'inc/panels/comments.html' %}</div>
</div>
{% endblock %}
